<div class="card">
  <h1 class="card-header centrar">Editar Pelicula</h1>
  <div class="card-body">
    <%= render "form", movie: @movie %>
  </div>
</div>

<div class="mt-3 mb-3">
  <%= link_to "Volver", movies_path, class: "btn btn-primary" %>
</div>